* {
  font-family: "Work Sans", sans-serif;
  /*Graphik font wasn't working, so used an alternative.*/
}

body {
  background: rgb(255, 253, 245);
}

.nav {
  background: rgb(255, 253, 245);
}

.nav-list li {
  list-style: none;
}

.gain-know .line-img {
  float: right;
}

.enroll img {
  width: 60px;
  border-radius: 3rem;
  background: #e7332b !important;
}

.enroll .enroll-text {
  text-decoration: none;
  border-radius: 3rem;
  margin-right: 2rem;
  background: #e7332b !important;
}

.enroll-btn a {
  text-decoration: none;
}

.enroll-btn {
  border-radius: 3rem !important;
  background: #e7332b !important;
}

.first-card {
  background: #e7332b !important;
  border-radius: 18px !important;
  transition: 0.5s ease;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  width: 32%;
}

.first-card:hover {
  transform: translateY(-15px);
}

.second-card {
  border-radius: 18px !important;
  transition: 0.5s ease;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  width: 32%;
}

.second-card:hover {
  transform: translateY(-15px);
}

.third-card {
  border-radius: 18px !important;
  transition: 0.5s ease;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  width: 32%;
}

.third-card:hover {
  transform: translateY(-15px);
}

.get-started-box {
  background-color: rgb(231, 51, 43);
}

.started-card1 {
  margin-left: 5%;
  width: 50%;
}

.started-card1 .wire-image {
  margin: 0 0 0 35%;
}

.started-card1 p {
  width: 85%;
}

.get-started-buttons a {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.enrollNow {
  border-radius: 3rem !important;
  box-shadow: 0 2px 3px black;
}

.teamwork-btn {
  border-radius: 3rem;
  padding: 10px 65px 10px 12px;
}
.fun-btn img {
  width: 50px;
}

.fun-btn {
  border-radius: 3rem;
  padding: 10px 65px 10px 15px;
}

.teamwork-btn img {
  width: 50px;
}

.scope-box {
  background: rgb(255, 253, 245);
}

.scope-box h3 {
  width: 53%;
}

.scope-box .wire-img {
  margin-left: 25rem;
}

.program-cards {
  width: 100%;
}

.program-cards .card {
  width: 32%;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  border-radius: 18px !important;
}

.logos img {
  width: 15%;
}

.logos .figma {
  width: 25% !important;
}

.program-btn {
  border-radius: 3rem;
  margin-left: 45%;
  background: #e7332b !important;
  padding: 0.5rem 2.2rem;
}

.program-btn a {
  text-decoration: none;
}

.accordion-flush {
  border: 1px solid rgba(71, 44, 111, 0.43) !important;
  background: none !important;
}

.accordion button {
  color: #333 !important;
  font-weight: bold;
  background: none !important;
  padding: 25px 20px;
}

.accordion-collapse {
  color: black !important;
}

.accordion div {
  font-family: "Times New Roman", Times, serif;
}

.tweet-box {
  margin: 0 auto;
}

.tweet-box a {
  border-radius: 3rem !important;
  background: #e7332b !important;
  padding: 10px 30px;
}

.full-time,
.part-time {
  border-radius: 3rem !important;
  width: 47%;
  box-shadow: 0 25px 47px rgba(231, 52, 43, 0.35);
  position: relative;
}

.full-time .hour-img {
  position: absolute;
  left: 20rem;
  bottom: 3rem;
  right: 0;
}

.part-time .time-img {
  position: absolute;
  left: 20rem;
  bottom: 7rem;
}

.post-program a {
  color: #fff;
}

.post-program img {
  cursor: pointer;
}

.trainng-plus li {
  list-style: none;
}

.html-plus li {
  list-style: none;
}

.python-plus li {
  list-style: none;
}

.figma li {
  list-style: none;
}

.break-box {
  border-radius: 2rem !important;
  background: #e7332b;
}

.break-box h2 {
  width: 40%;
  margin: 0 auto;
}

.break-box .break-btn {
  border-radius: 3rem;
  padding: 0.5rem 2.2rem;
  box-shadow: 0 2px 3px black;
}

.break-box a {
  text-decoration: none;
}

.copyright-flex a {
  text-decoration: none;
  color: ;
}

/*MEDIA QUERIES*/
@media (max-width: 1200px) {
  .main-nav .nav-list li {
    display: none;
  }

  .first-card,
  .second-card,
  .third-card {
    width: 48%;
  }

  .get-started-box {
    flex-direction: column;
  }

  .started-card1 {
    margin-left: 0;
    width: 99%;
  }

  .started-card1 p {
    width: 100%;
  }

  .scope-box h3 {
    width: 95%;
  }

  .scope-box .wire-img {
    margin: 0 auto;
    width: 80%;
  }

  .program-cards .card {
    width: 48%;
  }
}

@media (max-width: 1024px) {
  .main-nav .nav-list li {
    display: none;
  }

  br {
    display: none;
  }

  .main-section {
    flex-direction: column;
  }
  .main-section .guy-card {
    display: none;
  }

  .main-section .lady-card img {
    width: 100%;
  }

  .sec3-wire-img {
    margin: 0 auto;
  }

  .section2 {
    flex-direction: row;
    text-align: center;
  }

  .section2 img {
    margin: 0 auto;
  }

  .section2 h3,
  .section2 h4 {
    text-align: left !important;
  }
  
  .break-box h2 {
    width: 85%;
  }
}

@media (max-width: 999px) {
  .first-card,
  .second-card,
  .third-card {
    width: 97%;
  }
}

@media (max-width: 768px) {
  br {
    display: none;
  }

  nav {
    flex-direction: column;
  }

  .why-div img {
    display: none;
  }

  .first-card,
  .second-card,
  .third-card {
    width: 97%;
  }

  .full-time,
  .part-time {
    width: 97%;
  }
}

@media (max-width: 568px) {
  .illustrations .male-face {
    display: none;
  }

  .first-card,
  .second-card,
  .third-card {
    width: 92%;
  }

  .program-cards .card {
    width: 95%;
  }

  .program-btn {
    margin-left: 30%;
  }
}
